@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #002C59;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #001a3d;
}

/* Firefox */
* {
  scrollbar-color: var(--primary) transparent;
  scrollbar-width: thin;
}
